* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background-color: hsl(185, 41%, 84%);
  background-image: url(images/logo.svg);
}
main {
  background-color: hsl(185, 41%, 84%);
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: min(900px, 100%);
  margin: 0 auto;
  height: 100vh;
  place-items: center;
  background-color: hsl(0, 100%, 100%);
  border: 1px solid transparent;
  border-radius: 15px;
}
.right-panel {
  background-color: hsl(183, 100%, 15%);
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 2rem;
}
.tip-amount,
.total {
  color: hsl(189, 47%, 97%);
}
.person {
  display: block;
  color: hsl(184, 14%, 56%);
  font-weight: 100;
  font-size: 15px;
}
.reset {
  margin-top: 2rem;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  padding: 0.5rem 2rem;
}
