* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: min(900px, 100%);
  margin: 0 auto;
  height: 100vh;
  place-items: center;
}
